body{
    height: 100vh;
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: var(--bg-color-main);
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: var(--color-main);
}

.column{
    padding: 0 64px;
}

@media (max-width: 1024px) {
    .column{
        padding: 0 32px;
    }
}