:root {
    --color-main: #ffffff;
    --color-secondary: #111111;
    --color-primary: #fcda28;
    --color-discount: #adadad;
    --bg-color-main: #111111;
    --bg-color-secondary: #fcda28;;
}